#navbar { 
    width: 25% ;
    padding: 0px;
    height: 100%;
    background: #dde7e3;
    position: fixed;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
}

@media (max-width: 700px) {
    body {
        background-color: grey;
    }
}
@media (max-width: 1024px) {
    body {
        background-color: grey;
    }
}