#navbar { 
    width: 25% ;
    padding: 0px;
    height: 100%;
    background: #dde7e3;
    position: fixed;
    font-variant-caps: all-petite-caps;
    
}

header {
    font-size: 30px;
}

body {
    padding: 0 ;
    margin: 0;
    font-family: Abel;
}

#main-doc{
    margin-top: 30px;
    margin-left: 25%;
    text-align: center;
    grid-template-areas: "Introduction"
                         "Already"
                         "JavaScript_and_java"
                         "Hello_World"
                         "Function_Declarations";
    grid-template-columns: 80%;
    grid-template-rows: repeat(5 , 5fr);
    grid-gap: 30px;
}

#Introduction {
    grid-area: Introduction;
}

#What_you_should_already_Know {
    grid-area: Already;
}

#JavaScript_and_java {
    grid-area: JavaScript_and_java;
}

#Hello_World {
    grid-area: Hello_World;
}

#Function_Declarations {
    grid-area: Function_Declarations;
}




